<h1>Editing Master</h1>

<%= render 'form', master: @master %>

<%= link_to 'Show', @master , class: 'btn btn-mini btn-success'%> |
<%= link_to 'Back', masters_path,class: 'btn btn-mini btn-warning' %>
