<h1>Editing Variance</h1>

<%= render 'form', variance: @variance %>

<%= link_to 'Show', @variance , class: 'btn btn-mini btn-success'%> |
<%= link_to 'Back', variances_path, class: 'btn btn-mini btn-warning'%>
